.contact-bg {
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.contact-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 35px;
  border-radius: 20px;
  width: 400px;
}

.contact-box h1 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-box p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  background: #00e676;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
}
